@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 992px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .main-content .more-menu {
    justify-content: center;
  }
  .center .bottle-bg {
    width: 260px;
    height: 390px;
  }
  .button-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 60px;
  }
  .button-wrapper .swiper-button + .swiper-button {
    margin-left: 0;
  }
  .center {
    margin-left: 0;
  }
  .button-wrapper .swiper-button span {
    /* transform: rotate(-90deg); */
    -webkit-writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }
  .button-wrapper .swiper-button span:hover i{

    transform: scaleY(2);
  }
  .button-wrapper .swiper-button span i{
    transform: scaleY(1.5);
  }
  .swiper-pagination {
    right: 45%;
    top: 0px;
  }
.explore1-content h1,
  .main-wrapper .main-title {
    font-size: 9.5vw;
  }
  .pc_links-main {
    width: 60%;
  }
  .main {
    gap: 25px;
  }
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 576px) {
  .center .bottle-bg {
    width: 88vw;
    height: 505px;
    margin: 0 auto;
  }
  .button-wrapper {
    padding: 0 20px;
  }
/* .explore1-content h1{} */
.explore1-content h1,
  .main-wrapper .main-title {
    font-size: 11.5vw;
  }
  .pc_links-main .pc_innerlink .pc-links_nav {
    padding: 1.5rem 2rem;
  }
  .pc_links-main {
    width: 100vw;
  }
  .pc_innerdiv .pc_logo a h4 {
    font-size: 1.6rem;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
  }
  .pc_innerdiv .pc_logo {
    width: 85%;
    padding: 15px 10px;
  }
  .pc_links-main .pc_innerlink .pc-links_nav .pc-links {
    width: 100%;
    align-items: flex-start;
  }
  .witness-section .witness-images .witness-img_items-2 {
    height: 350px;
  }
  .witness-section .witness-images .witness-img_items-3 {
    height: 350px;
  }
  .witness-section .witness-images .witness-img_items-1 {
    background-position: 17%;
    height: 350px;
  }
  .counter {
    font-size: 1rem;
  }
  .prev,
  .next {
    height: 2rem;
    width: 2rem;
  }
  .prev::before,
  .next::before {
    border: 0.5rem solid transparent;
    border-right-width: 0.5rem;
    border-right-color: #000;
    border-left-width: 0;
  }
  .prev::after,
  .next::after {
    left: 0.5rem;
    height: 0.05rem;
    width: 1rem;
  }
  .next::before {
    right: 0;
    left: auto;
    border-left-width: 0.5rem;
    border-left-color: #000;
    border-right-width: 0;
  }
  
  .content {
    font-size: 4rem;
    top: 6em;
    left: 50%;
    height: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .c-image-slider .p-title {
    font-size: 10vw;
  }
  .slides-nav {
    display: flex;
    align-items: center;
    height: 100%;
  height: 80vh;
  width: 100%;
    position: absolute;
    right: 0;
  }
  .slides-nav button{
    transform: rotate(90deg);
    background: var(--white);
  }
  .slides-nav__nav {
    display: flex;
    width: 100%;
    transform: none;
    justify-content: space-between;
}
.slide,.slide__content,.slide__header,
.slides{
  height: 80vh;
}
.slides {
  height: 80vh;
  width: 85%;
  margin: 0 auto;
}
.slides{
  margin-bottom: 4rem;
}
.slide__header {
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.slide__title {
  font-size: 1.5em;
}
.slide__heading .travel-heading {
  font-size: 12vw;
}
.slide__heading .travel-heading,.slide__heading .slide__heading-sub,
.slide__title .title-line a{
  text-shadow: 4px 5px 10px #000;
  color: var(--white);
}
.about-page,
.index-page {
  padding-top: 75px;
}
.cd-slider li,
.cd-slider{
  height: 75vh;
}
.cd-slider{
  margin-bottom: 6rem;
}
}

@media screen and (max-width: 425px) {
  .explore1-content h1 {
    font-size: 12.5vw;
  }
  .button-wrapper .swiper-button {
    width: 30px;
  }
  .button-wrapper {
    padding: 0 5px;
  }
  .page-padding{
    padding-top: 52px;
  }
  .index2-section .index2-content h1 {
    font-size: 16.5vw;
  }
  .blog2-section .blog2-content h2 {
    font-size: 15vw;
  }
  .c-image-slider .p-title,
  .contact-content .contact-title {
    font-size: 14vw;
  }
  .center .bottle-bg {
    width: 70vw;
    height: 60vh;
  }
  .pc_innerdiv .pc_logo a h4 {
    font-size: .9rem;
  }
  .content{
    top: 2em;
  }
  .cd-slider li,
.cd-slider{
  height: 300px;
}
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 320px) {
  
  .footer-content .email-type {
    font-size: 0.8rem;
    gap: 2px;
  }
  .pc_navbar {
    width: 98%;
  }
  .pc_innerdiv .pc_logo a h4 {
    font-size: 1rem;
  }
}
